body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0;
    color: red;
}

li {
    list-style-type: none;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Header */

.header_nav {
    display: flex;
    height: 95px;
    padding: 1px 0 0 0;
    justify-content: space-between;
    align-items: center;
    margin: 0px 516px 0 501px;
}

.header_nav a {
    color: #ccc;
}

.header_nav > li:nth-child(2) {
    margin-right: 16px;
}

.header_nav > li:nth-child(4) {
    margin-left: 15px;
}

.header_nav .nav_active {
    font-weight: 500;
    color: white;
}

.nav_active:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 1px;
    width: 100%;
    background-color: white;
}

.header_nav a:hover {
    opacity: .7;
    transition: 0.2s all;
}

.header_nav li {
    position: relative;
}

.header_logo {
    padding-top: 1px;
}

a {
    text-decoration: none;
}

/* UTP */

.usp {
    text-align: center;
    color: white;
    margin-top: 133px;
}

.slogan {
    font-size: 64px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4.4px;
    padding-left: 3px;
}

.usp p {
    font-size: 18px;
    margin-top: 21px;
    line-height: 140%;
}

.usp button {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    width: 184px;
    height: 46px;
    margin-top: 10px;
    background-color: #00afdb;
    border: none;
}

.usp button:hover {
    background-color: #009cc2;
    transition: .2s all;
}

.social {
    display: flex;
    justify-content: center;
    margin: 183px auto 0;
    padding: 0;
}

.social li {
    margin: 0 15px;
}

.social a:hover {
    opacity: .7;
    transition: 0.2s all;
}

/* Rappresent */

.rapp {
    background: url("img/content-image-1.jpg") no-repeat 924px 120px;
    overflow: hidden;
}

.rapp h2 {
    color: black;
}

.rapp .block {
    margin-top: 294px;
    margin-left: 269px;
}

.rapp p {
    color: black;
    margin-top: 22px;
    line-height: 140%;
    width: 410px;
}

.rapp button {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    width: 184px;
    height: 46px;
    margin-top: 18px;
    background-color: #00afdb;
    border: none;
}

button:hover {
    background-color: #009cc2;
    transition: .2s all;
}

/* Community */

.community {
    display: flex;
}

.usercard {
    width: 300px;
    margin: 155px 0 0 268px;
}

.usercard img {
    width: 45px;
    height: 45px;
    margin: 0 auto;
    display: block;
}

.usercard h3 {
    font-size: 16px;
    color: black;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 22px;
    line-height: 14px;
}

.usercard p {
    color: black;
    text-align: center;
    line-height: 145%;
    margin-top: -1px;
}

.slider {
    margin: 10px 0 0 0;
    width: 1030px;
    overflow: hidden;
}

.slider_control {
    font-size: 18px;
    color: #373737;
    margin-left: 705px;
    margin-top: 70px;
}

.photo_num {
    position: relative;
    margin-right: 3px;
}

.photo_total {
    position: relative;
    margin-left: 3px;
}

.photo_num:before {
    content: '';
    position: absolute;
    right: 23px;
    top: 6px;
    height: 7px;
    width: 7px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(45deg);
}

.photo_total:after {
    content: '';
    position: absolute;
    left: 23px;
    top: 6px;
    height: 7px;
    width: 7px;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
}

.photo_num:hover:before,
.photo_total:hover:after {
    cursor: pointer;
    opacity: .7;
}

.slider_photos {
    display: flex;
    margin: 18px 0 0 98px;
}

.slider_photos li {
    margin-right: 30px;
}

/* Implement */



/* Layout */

.wrapper {
    margin: 0 auto;
    max-width: 1600px;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.bg-sect1 {
    background-color: black;
    background-image: url("img/bg-image.jpg");
    height: 744px;
}

.rapp, .bg-sect4 {
    background-color: white;
    height: 842px;
}

.community {
    background-color: #F5F6F7;
    height: 504px;
}

.bg-sect5 {
    background-color: black;
    background-image: url("img/bg5.jpg");
    height: 524px;
}

.bg-sect6 {
    background-color: #F5F6F7;
    height: 464px;
}

footer {
    background-color: black;
    height: 185px;
}